.header {
    color: lightskyblue;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 50px;
    font-weight: bold;
}

.omegalul {
    position: static;
    height: 3%;
    width: 3%;
}

.webcam {
    display: flex;
    justify-content: center;
}

.emojiImg {
    height: 9%;
    width: 9%;
    margin: 4px;
    float: left;
    max-width: 500px;
}

.emojiList {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
